extends layout

block content
  .inner
    h2 Редактирайте профила си
    form(action="/account" method="POST")
      label(for="name") Потребителско име
      input(type="text" name="name" id="name" value=user.name required)
      label(for="email") Email адрес
      input(type="email" readonly name="email" id="email" value=user.email required class="form__last-field")
      input.button(type="submit" value="Актуализиране на профил")
