extends layout

include mixins/_imageCard

block content
  .inner
    h2 #{category || 'Категории'}
    ul.categories
      each cat in categories
        li.category
          a.category__link(href=`/categories/${cat._id}` class=(cat._id === category ? 'category__link--active' : ''))
            span.category__text= cat._id
            span.category__count= cat.count
    .images
      each image in images
        +imageCard(image)
