extends layout

include mixins/_reviewForm
include mixins/_review

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${image.photo || 'image.png'}`)
      h2.title.title--single
        a(href=`/image/${image.slug}`) #{image.image}

  .single__details.inner
    .right-panel
      img.single__map(src=h.staticMap(image.location.coordinates))
      p.single__location= image.location.habitat
      .subtitle--single Описание
        p(style='white-space:pre-wrap;')= image.description

      .subtitle--single Автор:
        p= image.author.name
      if image.categories
        ul.categories
          each category in image.categories
            li.category
              a.category__link(href=`/categories/${category}`)
                span.category__text  #{category}
    .clearfix
    if user
      +reviewForm(image)

    if image.reviews
      .reviews
        each review in image.reviews
          .review
            +review(review)