extends layout

block content
  .inner
    form.form.marginTop(action="/register" method="POST")
      h2 Регистрация
      label(for="name") Име
      input(type="text" name="name" id="name" value=(body ? body.name : '') required)
      label(for="email") Email адрес
      input(type="email" name="email" id="email" value=(body ? body.email : '') required)
      label(for="password") Парола
      input(type="password" name="password" id="password" value=(body ? body.password : '') required)
      label(for="password-confirm") Потвърди парола
      input(type="password" name="password-confirm" id="password-confirm" value=(body ? body['password-confirm'] : '') class="form__last-field" required)
      input.button(type="submit" value="Регистрация")
