extends layout

block content
  .inner
    form.form(method="POST")
      h2 Reset Your Password
      label(for="password") Парола
      input(type="password" name="password" id="password" required)
      label(for="password-confirm") Потвърди парола
      input(type="password" name="password-confirm" id="password-confirm" class="form__last-field" required)
      input.button(type="submit" value="Възстановяване на парола")
