extends layout

block content
  .inner
    h2 Топ #{images.length} Снимки
    table.table
      thead
        td Снимка
        td Класиране
        td Заглавие
        td Оценки
        td Рейтинг
        //- pre= h.dump(images)
      each image, i in images
        tr
          td
            a(href=`/image/${image.slug}`)
              img(width=300 src=`/uploads/${image.photo || 'image-placeholder.png'}` alt=image.image)
          td #{i + 1}
          td: a(href=`/image/${image.slug}`)= image.image
          td= image.reviews.length
          td #{Math.round(image.averageRating * 10) / 10} / 5