mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h2 Забравена парола
    label(for="email-forgot") Email адрес
    input(type="email" name="email" id="email-forgot" class="form__last-field" required)
    input.button(type="submit" value="Изпрати")
