mixin imageForm(image = {})
  form(action=`/add/${image._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    //- pre= h.dump(image)
    label(for="image") Заглавие
    input(type="text" name="image" required id="image" placeholder="Въведете заглавие за снимка" value=image.image)
    label(for="description") Описание
    textarea(name="description" id="description" rows="8" cols="50" placeholder="Подзаглавие или кратко описание на снимката, споделете нещо интересно свързано със заснемането й...")= image.description
    //- Image Upload
    label(for="photo") Снимка
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if image.photo
        img(src=`/uploads/${image.photo}`, alt=image.image width=200)
    //- habitat, lng and lat
    label(for="habitat") Място на заснемане
    input(type="text" required id="habitat" name="location[habitat]" value=(image.location && image.location.habitat))
    label(for="lng") Географска дължина
    input(type="text" id="lng" name="location[coordinates][0]" placeholder="Полето ще бъде попълнено автоматично след въвеждане на стойнсот в поле 'Място на заснемане'." value=(image.location && image.location.coordinates[0]) required)
    label(for="lat") Географска ширина
    input(type="text" id="lat" name="location[coordinates][1]" placeholder="Полето ще бъде попълнено автоматично след въвеждане на стойнсот в поле 'Място на заснемане'." value=(image.location && image.location.coordinates[1]) required)
    label(for="genre") Жанр
    - const choices = ['Архитектура', 'Астрофотография', 'Абтрактно', 'Пейзаж', 'Портрет', 'Природа', 'Улицата', 'Репортаж', 'Диви животни', 'Макро', 'Натюрморт', 'От въздуха', 'Пътешествия', 'Спорт']
    - const categories = image.categories || []
    ul.categories
      each choice in choices
        .category.category__choice
          input(type="checkbox" id=choice value=choice name="categories" checked=(categories.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value=`${image && image._id ? 'Редактирай снимка →' : 'Качи снимка →'}` class="button")
    if image && image._id
      a(href=`/api/delete/${image._id}` data-id=image._id name="deleteimage" class=`delete__button ${image.image ? '' : 'hidden'}`) Изтрий
