mixin imageCard(image = {})
  .image
    .image__hero
      .image__actions
        if user
          .image__action.image__action--heart
            form.heart(method="POST" action=`/api/images/${image._id}/heart`)
              - const heartStrings = user.hearts.map(obj => obj.toString())
              - const heartClass = heartStrings.includes(image._id.toString()) ? 'heart__button--hearted' : ''
              button.heart__button(type="submit" name="heart" class=heartClass)
                != h.icon('heart-2')
        if user && image.author.equals(user._id)
          .image__action.image__action--edit
            a(href=`/images/${image._id}/edit`)
              != h.icon('pencil')
        if image.reviews
          .image__action.image__action--count
            != h.icon('review')
            span= image.reviews.length
      a(class="image__action--click" href=`/image/${image.slug}`)
        img(src=`/uploads/${image.photo || 'image.png'}`)
      //h2.title
      //  a(href=`/image/${image.slug}`) #{image.image}
    .image__details
      h2.title
        a(href=`/image/${image.slug}`) #{image.image}
    //.image__details
    //  p= image.description.split(' ').slice(0, 20).join(' ') + '...'
