mixin loginForm()
  form.form.marginTop(action="/login" method="POST")
    h2 Потребителски данни
    label(for="email") Email адрес
    input(type="email" name="email" id="email" required)
    label(for="password") Парола
    input(type="password" name="password" id="password" class="form__last-field" required)
    input.button(type="submit" value="Впиши ме →")
