mixin pagination(page, pages, count)
  if page
    .pagination
      .pagination__prev
        if page > 1
          a(href=`/images/page/${page - 1}`) Предишна
      .pagination__text
        p Страница #{page} от #{pages} — #{count} резултати
      .pagination__next
        if page < pages
          a(href=`/images/page/${parseFloat(page) + 1}`) Следваща
