mixin reviewForm(image)
  form.reviewer(action=`/reviews/${image._id}` method="POST")
    textarea(name="text" placeholder="Снимката ви харесва? Оставете своята оценка и кратък коментар за автора.")
    .reviewer__meta
      .reviewer__stars
        each num in [5, 4, 3, 2, 1]
          input(type="radio" required id=`star${num}` name="rating" value=num)
          label(for=`star${num}`) #{num} Звезди
      input.button(type="submit" value="Изпрати оценка →")