.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
  width: 100%;
}

.image {
  background:white;
  margin: 10px 0;
  width: 30%;
  box-shadow: $shad;
  &--wide {
    width: 100%;
  }
  &__details {
    padding: 2rem;
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  @media all and (max-width: 850px) {
    width: 48%;
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
}

.image__actions {
  position: relative;
  z-index: 2;
  // border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.2);
  background-color: #3498db;
  // margin-bottom: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.image__action {
  font-size: 10px;
  svg {
    width: 25px;
    fill: white
  }
  &--edit {
    a {
      border-bottom: 0;
    }
  }
}

.image__action--click {
  display: inline-block;
  z-index: 999900;
}


.image__hero {
  position: relative;
  padding: 0 10px 0 10px;
  text-align: right;
  // &:before {
  //   display: block;
  //   content: '';
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   right: 0;
  //   opacity: 0.6;
  // }
  img {
    height: 100%;
    min-height: 250px;
    max-height: 250px;
    width: 100%;
    top: 4px;
    object-fit: cover;
  }
}

