//html {
//  font-size: 10px;
//}
//
//body {
//  background:#efefef;
//}
//
//.inner {
//  max-width:900px;
//  margin: 0 auto;
//  @media all and (max-width: 900px) {
//    padding: 2rem;
//  }
//  &--flashes {
//    padding:0;
//  }
//}


html {
  font-size: 10px;
}

body {
  background:#efefef;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  //max-width: 1200px;
  margin: 0 auto;
  @media all and (max-width: 1200px) {
    padding: 2rem;
  }
}
