// hack for Mozilla weird problem with absolutely positioned images
//@-moz-document url-prefix() {
//  .single__image {
//    left: 50%;
//    transform: translateX(-50%);
//    top: 0;
//  }
//}

//.single {
//  &__hero {
//    height: 500px;
//    position: relative;
//    overflow: hidden;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
//    &:before {
//      display: block;
//      content: '';
//      position: absolute;
//      height: 100%;
//      width: 100%;
//      top: 0;
//      right: 0;
//      opacity: 0.6;
//      z-index: 1;
//      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
//    }
//  }
//  &__image {
//    width: 900px;
//    height: 100%;
//    object-fit: cover;
//    position: absolute;
//  }
//  &__details {
//    background: white;
//    position: relative;
//    padding: 3rem;
//    margin-top: -3rem;
//    box-shadow: 0 0 10px 2px rgba(0,0,0,0.15);
//  }
//  &__map {
//    width: calc(100% + 6rem);
//    max-width: none;
//    margin-top: -3rem;
//    margin-left: -3rem;
//  }
//  &__location {
//    margin: 0;
//    margin-top: -3rem;
//    margin-right: -5rem;
//    background: $black;
//    color: white;
//    display: inline-block;
//    float: right;
//    position: relative;
//    padding: 1rem;
//    @media all and (max-width: 850px) {
//      margin-right: 0;
//    }
//  }
//}

.single {
  &__hero {
    padding: 10px;
    margin: 0 20px;
    width: 60%;
    float: left;
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__details {
      background: white;
      position: relative;
      margin-top: -10rem;
      box-shadow: 0 0 10px 2px rgba(0,0,0,0.15);
    }
    &__map {
      width: 200px;
      margin-top: -3rem;
      margin-left: -3rem;
    }
  }
  &__details > .right-panel {
    padding-top: 10px;
    display: inline-block;
    float: left;
    width: 33%;
  }
}

.clearfix {
  clear: both;
  padding: 10px 0;
}